body {
  background: #000;
  font-family: 'SoberanaSans';
  color: #515151;
}
#titulo{
color: #ff0000;
font-size:35px;
font-family: 'SoberanaSans';
}



/* slider boxslider*/


#nextArrow{
    width: auto;
    position: absolute;
    top: 38%;
    margin-top: -22px;
    right: 1.7%;
    z-index: 9;
}

#prevArrow{
    width: auto;
    position: absolute;
    float: right;
    top: 38%;
    margin-top: -22px;
    z-index: 9;
    left: 0.7%;

}
/*Termina bxslider*/

/*Efecto de Imagenes de articulos*/
.efecto_img img:hover {
	transform:scale(1.1);
}
.efecto_img  img {
	transition:all 0.5s ease 0s;
	width:100%;
	height:100%;
}
/*Imagen responsiva*/

#img_principal{
width:300px;
height:150px;;

}

.titulo_seccion{

    font-size: 16px;
    
	font-weight: bold;
    text-align: left; 
    line-height: 22px!important; 
    color: #598eca; 

}
.fecha{
font-family: 'Conv_Lato-BoldItalic';
    font-size: 15px;
    color: #b72626;
		font-weight: bold;
}

.intro{

font-family: 'Conv_Lato-Regular';
    font-size: 14px;
    color: #666;
    text-align: justify;
    padding-top: 2%;
    line-height: 17px;
    letter-spacing: 0.2px;

}
.link{

    font-family: 'Conv_Lato-Italic';
    font-size: 14px;
	font-weight:bold;
	margin-top:20px;
	text-align:right;

}


.carousel {

/*border: 7px solid #f2f2f2;*/
border: 7px solid #fafafa;
}
.font_size{
font-size:16px;

}
hr.line {
 /* border-top: 3px double #dedede;*/
   border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.page-header {
margin-bottom: 20px;	
}
section h1 span {
  background: url('../img/line-01.png') 0 50% repeat-x;
}
article {
  background: url('../img/post-bottom-shadow.png') no-repeat center bottom;
  padding: 70px 0px 50px 0px;
}

article div:first-child {
  position: relative;
}



article h2 {
  color: #b92025;
  font-size: 1.35em;
}

article h2 a {
  color: #b92025;
}
article h2 a:hover {
  color: #b92025;
}
.button {
  color: white;
  border-radius: none;
  font-size: .9em;
  padding: 3px	40px 3px 40px;
  margin-left:75px;
  text-transform: uppercase;
  
  
}
.efecto_img img:hover {
	transform:scale(.7);
}
.efecto_img  img {
	transition:all 0.3s ease 0s;
	width:70%;
}


.sidebar {
  border-left: 3px solid #dedede;
  padding: 10px 0px 0px 50px;
}
.ces {
color: #ff0000;

} 
.titulos{
color: #fff;

}
nav {
  background:#f2f2f2;
  background-size: 100%;
  padding-bottom: 0px;
  margin-left:-5px;
  
}

nav .nav-shadow {
  -webkit-box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
}
.nav > li > a {
  margin: 1px 0px 0px 0px;
  
}
footer ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0;
	padding: 0;
}
footer ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
footer .social-network a.icoRss:hover {
	background-color: #F56505;
}
footer .social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
footer .social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
footer .social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
footer .social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
footer .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
footer .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

footer .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
footer .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
footer a {
 background-color: #D3D3D3;   
}
.cuadro_intro_hover{
        padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}
	
	/*Estilos de interior pagina*/
	.titulo_interior{
	font-size:25px;
	color:#0083c3;
	font-style:italic;
	font-weight:bold;
	padding-top:20px;
	
	
	}
	.parrafo_interior{
	font-family: 'Conv_Lato-Regular';
    font-size: 17px;
    color: #666;
    text-align: justify;
    padding-top: 2%;
    line-height: 21px;
    letter-spacing: 0.2px;
	/*
	font-size:16px;
	line-height:20px;
	text-align:justify;
	
	*/
	}
	#espacio_video{
	margin-top:25px;
	
	}
	.espacio_footer{
	padding:0; 
	margin-top:105px;
	
	
	}
	
	
	/*Interior de pagina nuestro instituto*/
	
	#imgs{
width:90%;
position:relative;
margin-left:45px;
margin-top:25px;

}


/*interior 2 de cada noticias y seccion*/

#imgs2{

width:100%;
height:400px;
position:relative;

margin-top:20px


}
/*Estilos de interior de docentes */
#dirGen{
     width: 150px; 
     height: 150px; 
    margin: auto; 
    display: block; 
    margin-top: 20px; 
}
#dirGen:hover{
opacity:0.8;
}
.cargo{
    font-weight:bold;
    color:#0083c3;
	
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

}
.cargo1{
 font-weight:bold;
    color:#0083c3;
	
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}

.nombre{
text-align:center;
font-size:17px;
font-weight:bold;
color:#666;

}



hr.linea{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
	
