body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}





.Flexible-container {
    position: relative;
    padding-bottom: 35%;
	border: 10px solid #CCCCCC;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
}
.font_size{
font-size:16px;
}
body {
  background: #fff;
  font-family: 'SoberanaSans';
  color: #515151;
  font-size:17px;
}
hr.line {
  border-top: 3px double #dedede;
}

h1{
 color: #ff0000;
}
.ces {
color: #ff0000;

} 
nav {
  background:#f2f2f2;
  background-size: 100%;
  padding-bottom: 0px;
}
nav .nav-shadow {
  -webkit-box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 10px -18px rgba(0, 0, 0, 0.8);
}
.nav > li > a {
  margin: 1px 0px 0px 0px;
  
}
footer ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
footer ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
footer .social-network a.icoRss:hover {
	background-color: #F56505;
}
footer .social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
footer .social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
footer .social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
footer .social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
footer .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
footer .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

footer .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
footer .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
footer a {
 background-color: #D3D3D3;   
}
.cuadro_intro_hover{
        padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}
	
	section .form-group{
 background: url('../img/post-bottom-shadow.png') no-repeat center bottom;
  padding: 90px 0px 40px 0px;
}