html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Conv_Lato-Regular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
    outline:none;
}

header{
	background: black;
	height: 190px
}

@font-face {
	font-family: 'Conv_Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




.nopad{
	padding: 0
}

.sipad{
	padding: 5% 0;
}



#loader{
	width:100%;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 100;
	text-align: center;

}

#loader img{
	margin: 0 auto;
}

#pantallaInicial{
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden
}

#imgBienvenida{
	width:100%;
	position: relative;
	z-index: 1;
}


#imgFlechas{
	bottom: 0;
    cursor: pointer;
    margin: 3% 48%;
    position: absolute;
    left: 0;
    z-index: 9;
}

.logo{
	width: 90%;

}

.logos{
	width: 90%;

	float: left;
}

#redesBuscar{
width: 60%;
    float: left;

}

#redes{
	font-size: 30px;
	color: white;
}

#redes i{
    margin: 0 3%;
}

#buscar{
	font-size: 20px;
    border: white 1px solid;
    width: 100%;
    border-radius: 7px;
    padding: 2%;
    color: white;
    margin-top: 5%;
}

#buscar span{
	margin: 0 1%;
}

.buscar{
background: black;
    color: white;
    border: 0;
    font-size: 10px;
    text-transform: uppercase;
    height: 20px;
    position: relative;
    top: -3px;
    width: 82%;
}





/*Usado nav*/

.menu{
	width: 100%;
	height:auto;
}
nav {
    background: #fff;
}

.menu li{
	float:left;
	border-right: 1px #ccc solid;
	   margin: 10px 0;
}

.menu li a{
	  display: block;
    padding: 10px 40px;
       text-decoration: none;
       color: #333;
       text-transform: uppercase;
}

#menuAlterno{
	float: right;
	 margin: 10px 0;
	 cursor:pointer;
}

#menuSme{
	position:absolute;position: absolute;
    right: -33%;
    top: 100%;
    display:none;
    text-transform: uppercase;
}

#menuSme ul li{
	padding: 6px 0;
	border-bottom: 2px solid #ccc;
}

#menuSme ul li a{
	text-decoration: none;
}

/*Usado nav*/
















/*Efecto de Imagenes de articulos*/
.efecto_img img:hover {
	transform:scale(.7);
}
.efecto_img  img {
	transition:all 0.3s ease 0s;
	width:70%;
}
/*Imagen responsiva*/
.imagen-resp{
	width: 67%;
	 border-radius: 6px;
	height: auto;
	margin-left: 25%;	
}

.parrafo{
	padding-top: 2%;
	text-align: justify;
	
}
.titulo{
	
	margin-left: 10%;	
	font-size: 25px;
	text-align: center;
	color: #598eca;
}

.subtitulo{
	
	font-size: 20px;
	padding-top: 1%;
	color: #4c4d4d;
}
.autor{
		

	padding-top: 1%;

}

h1{
	font-size: 40px;
	text-align: center;	
	color:#598eca;
	margin-top: 1%;

}
h3{
	font-size: 35px;
	text-align: center;	
	color: #464647;
	padding-top: 1%;
}

hr {	
    height: 25px;
    /* box-shadow: inset 0 12px 12px -12px #ccc; */
    width: 100%;
    margin: 0;
	}

/* Link de Paginación*/
.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/*Termina paginación*/



.sepImg{
    margin-top: 50px;
}
    
.texto{
      margin-top: 30px;
}

#lineaArriba{
	border:1px solid #ededed;
	width: 400px;
}

#lineaAbajo{
	border:1px solid #ededed;
	width: 1000px;
}

.parrafos{
	text-align: justify;
}

#titulo {


}

#subtitulo{
	font-size: 23px;
	padding-top: 1%;
	color: #4c4d4d;
	font-style: italic;
}

#autor{

	padding-top: 1%;
}

#fecha{
	color: #598eca;
}

#descripcionImg{
	margin-top: 15px;
	color: #598eca;
}

video {
	width: 82%;
	height: auto;
	margin-top: 30px;
}

#secciones{
	display: none;
}
